services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: granja_sqlserver
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Lu4005010!"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data: